body {
    margin: 0;
    background-color: #070707;
    color: #d2e7f1;
    word-break: break-word;
}

section {
    display: flex;
}
   
body > section {
    justify-content: space-between;
}

body> section:first-of-type {
    background-color: #1eadf1;
    color: black;
    align-items: center;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem 1rem;
}

#weather_icon {
    margin: 0.3rem 0.3rem;
    margin-right: 1rem;
    height: 3rem;
}

body > section:last-of-type > div {
    border-left: 1px solid;
    border-right: 1px solid;
    width: calc(100% - 40rem);
    min-width: 25rem;
    padding: 0 2rem;
}

body > section:last-of-type > div:first-of-type,
body > section:last-of-type > div:last-of-type {
    width: 20rem;
    min-width: 20rem;
    /* background-color: #14213e; */
    border: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li:hover {
    background-color: #506a85;
}

#followers img {height: 10rem;width: 10rem;}

li > p {
    padding: 0;
    padding-top: 0.5rem;
}

.hidden {
    position: fixed;
    left: -50rem;
}

#user_avatar {
    min-height: 25rem;
    max-height: 35rem;
    height: calc(100vw - 45.3rem);
    max-width: 35rem;
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}

p {
    margin: 0.5rem;
}

body > section > section > p {
    padding: 0;
    margin: 1rem;
    font-size: 1.4rem;
}

p#weather {
    margin-right: 0;
}

body > section > div > h1, body > section > div:first-of-type > div {
    margin: 1.5rem 1rem;
    font-size: 2rem;
    color: #1eadf1;
}

.github_list_item img, .pgm_list_item img {
    height: 4rem;
    width: 4rem;
}

.github_list_item, .pgm_list_item {
    padding: 1rem;
    border-bottom: 1px solid;
}

.github_list_item {
    display: flex;
    align-items: center;
}

.pgm_list_item > div {
    display: flex;
    align-items: center;
}

#github_users, #pgm_team {
    border-top: 1px solid;
}


a {
    font-size: 1.1rem;
    color: inherit;
}


body > section:last-of-type > div:nth-of-type(2) > * {
    margin-left: 0;
}

body > section:last-of-type > div:nth-of-type(2) > label, body > section:last-of-type > div:nth-of-type(2) > p, body > section:last-of-type > div:nth-of-type(2) > a, body > section:last-of-type > div:nth-of-type(2) > ul, #pgm_user > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.pgm_list_item > p {
    margin: 0.5rem 0 0 0;
}

body > section:last-of-type > div:nth-of-type(2) > p, #pgm_user > p {
    margin-left: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

#followers {
    display: flex;
    flex-wrap: wrap;
}

#followers a div p {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(7,7,7,0.8);
    color: #d2e7f1;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: right;}

#followers li > div {
    position: relative;
}

#followers div {
    position: relative;
    height: 10rem;
}

#followers a {
    margin: 0;
}

#followers li {
    height: 10rem;
    margin: 0 1rem 1rem 0;
}


input[type=text] {
    border: 0;
    background-color: #d2e7f1;
    height: 1rem;
    padding: 0.5rem;
    outline: 0;
}

input[type=submit] {
    border: 0;
    background: transparent;
    color: #1eadf1;
    font-size: 1.2rem;
    font-weight: bold;
}

#repositories li, .no_items {
    width: 100%;
    margin: 0;
    height: fit-content;
}

#repositories li p, .no_items p{
    margin: 0;
    padding: 1rem;
    border: 1px solid;
    border-radius: 6px;
}

#repositories li {
    margin: 1rem 0;
}

.no_items p {
    text-align: center;
}

.no_items:hover {
    background-color: transparent;
}

#link_page:hover {
    color: #1eadf1;
}

#github_users .no_items {
    margin: 1rem;
    width: inherit;
}
