body {
    margin: 0;
}

section {
    display: flex;
}

body > section {
    flex-direction: column;
}
   
body > section > section {
    justify-content: space-between;
}

body > section > section:first-of-type {
    background-color: #114499;
    color: #eebb11;
}

body > section > section > div, p {
    margin: 0;
    padding: 0.5rem 1rem;
}

#weather_icon {
    height: 2rem;
}

body > section > section:last-of-type > div {
    width: auto;
}

body > section > section:last-of-type > div:first-of-type,
body > section > section:last-of-type > div:last-of-type {
    width: 15rem;
}

body > section > section:last-of-type > div:first-of-type,
body > section > section:last-of-type > div:last-of-type {
    background-color: #334455;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid;
    margin-bottom: 2rem;
}

li:hover {
    background-color: #506a85;
}

li img {
    width: 3rem;
    height: 3rem;
}

li > p {
    padding: 0;
    padding-top: 0.5rem;
}

li > div {
    display: flex;
    align-items: center;
}

li > div > p {
    padding: 0;
    margin-left: 0.5rem;
}