body {
    margin: 0;
}

section {
    display: flex;
}

body > section {
    flex-direction: column;
}
   
body > section > section {
    justify-content: space-between;
}

body > section > section:first-of-type {
    background-color: #114499;
    color: #eebb11;
}

body > section > section > div, p {
    margin: 0;
    padding: 0.5rem 1rem;
}

#weather_icon {
    height: 2rem;
}

body > section > section:last-of-type > div {
    width: 50%;
}

body > section > section:last-of-type > div:first-of-type,
body > section > section:last-of-type > div:last-of-type {
    width: 25%;
}

body > section > section:last-of-type > div:first-of-type {
    background-color: #334455;
    color: white;
}

#users_list {
    list-style: none;
    padding: 0;
}